* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.app-container {
    width: 70%;
    margin: auto;
    background: rgb(231 217 234 / 19%);
    padding: 20px 15px;
    overflow: hidden;
    position: relative;
}

.app-container .side-bar {
    width: 50%;
    height: 100%;
    background: rgb(231, 199, 238);
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: right center;
    transform: translateX(100%);
    transition: 0.5s;
    padding-bottom: 20px;
}
.app-container .side-bar .i{
    position: absolute;
    right: 22px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
}
.app-container .side-bar .i:hover{
    color: #11698e;
}

.app-container .side-bar.translate {
    transform: translateX(0);
}
.app-container .side-bar .handler {
    position: absolute;
    background: #7ad8c33b;
    height: 75px;
    width: 10px;
    top: 120px;
    box-shadow: 0 0 2px 0.5px #77777736;
    left: -10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
}
.app-container .side-bar .side-bar-cont {
    overflow: auto;
    width: 100%;
    margin-top: 10px;
    height: 100%;
}
.app-container .side-bar .side-bar-cont::-webkit-scrollbar{
    width: 5px;

}
.app-container .side-bar .side-bar-cont::-webkit-scrollbar-track{
background-color: #eee;
}
.app-container .side-bar .side-bar-cont::-webkit-scrollbar-thumb{
    background-color: #16c79b8c;
    border-radius: 20px;
}

.app-container .side-bar .detls {
    width: 100%;
    margin-top: 45px;
    padding-bottom: 10px;
    padding-left: 10%;
    border-bottom: 1px solid #11698e;
    position: relative;
}
.app-container .side-bar .detls > div {
    margin-bottom: 8px;
    align-self: flex-start;
}
.app-container .side-bar .detls .delet {
    position: absolute;
    right: 0px;
    background: #11698e;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 10px;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
}
.app-container .side-bar .detls img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.app-container .side-bar .detls .num {
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    display: flex;
    background: #11698e;
    padding: 2px 10px;
}

.app-container .over-leay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffebcd75;
    z-index: 11;
}
.app-container .over-leay .player-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: #228deb;
    width: 260px;
    height: 200px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.app-container .over-leay .player-info h3 {
    color: darkgreen;
    text-transform: capitalize;
}
.app-container .over-leay input {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 20px;
}
.app-container .over-leay input:focus {
    outline: none;
}
.app-container .over-leay button {
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    background: #b43e16;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
}
.app-container h2 {
    color: #19456b;
    margin: auto;
    width: fit-content;
    margin-bottom: 35px;
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
}
.app-container h2 span {
    font-size: 20px;
    position: relative;
    color: #06c595;
    right: 10px;
}
.app-container .count-dawon {
    width: fit-content;
    margin: auto;
    margin-bottom: 28px;
    background: #11698e;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.app-container .header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #11698e;
    padding: 5px;
    align-items: center;
}
.app-container .header .answers-count {
    border-radius: 5px;
    background: #16c79b8c;
    width: 80px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-container .header .answers-count .correct-answer {
    padding-right: 5px;
}
.app-container .header .answers-count .incrAnsCount {
    padding-left: 5px;
}
.app-container .header .player {
    border-radius: 5px;
    background: #16c79b8c;
    width: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.app-container .header .player span {
    font-weight: bold;
}
.app-container .question-cont {
    margin-top: 50px;
    width: 100%;
    position: relative;
}
.app-container .question-cont .no {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #16c79b8c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.app-container .question-cont .question {
    background: #11698e;
    padding: 25px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-align: center;
}

.app-container .question-cont .answers {
    width: 100%;
}
.app-container .question-cont .answers.diseable {
    pointer-events: none;
}
.app-container .question-cont .answers > span {
    background: #16c79b8c;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 60px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #d2691e54;
    align-items: center;
    user-select: none;
}
.app-container .question-cont .answers .selacted {
    background: #5f9ea07a;
}
.app-container .question-cont .answers .correct {
    background: aqua;
}
.app-container .question-cont .answers .incorrect {
    background: red;
}

.player-detls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.player-detls > h3 {
    font-size: 30px;
    font-family: monospace;
    text-transform: uppercase;
}
.player-detls > span {
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}
.player-detls > h3,
.player-detls > span {
    align-self: center;
    padding-bottom: 15px;
}

.player-detls .info .detls > div {
    margin-bottom: 5px;
}
.player-detls .info .detls img {
    width: 100px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-bottom: 8px;
}
.player-detls button {
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
    text-transform: capitalize;
    background: transparent;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .app-container {
        width: 100%;
        padding: 20px 15px;
    }
    .app-container .over-leay .player-info {
        width: 260px;
        height: 200px;
        padding: 20px;
        border-radius: 12px;
        display: flex;
    }
    .app-container .over-leay input {
        padding: 5px 10px;
        border-radius: 10px;
        margin: 20px;
    }
    .app-container .over-leay button {
        padding: 5px 20px;
        border-radius: 10px;
    }
    .app-container h2 {
        width: fit-content;
        margin-bottom: 30px;
        font-size: 40px;
    }
    .app-container h2 span {
        font-size: 20px;
    }
    .app-container .header .answers-count {
        border-radius: 5px;
        width: 80px;
        padding: 5px;
    }
    .app-container .header .answers-count .correct-answer {
        padding-right: 5px;
    }
    .app-container .header .answers-count .incrAnsCount {
        padding-left: 5px;
    }
    .app-container .header .player {
        border-radius: 5px;
        width: fit-content;
        padding: 5px;
    }
    .app-container .question-cont {
        margin-top: 90px;
        width: 100%;
    }
    .app-container .question-cont .no {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }
    .app-container .question-cont .question {
        padding: 25px 20px;
        border-radius: 15px;
    }
    .app-container .question-cont .answers > span {
        padding: 10px;
        border-radius: 60px;
        margin: auto;
        margin-top: 10px;
        width: 80%;
    }
    .app-container .side-bar {
        width: 70%;
    }
    .player-detls{
        width: 75%;
    }
}
